html
  head
    title Rockset shortlinks admin
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,600")
  body(style="font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif")
    div.container-fluid(style="max-width: 1000px;")
      h1 Rockset shortlinks admin
      table.table.table-striped(style="table-layout: fixed;")
        tr
          th.col-sm-2 Key
          th.col-sm-7 URL
          th.col-sm-3(colspan=3) Clicks
        each redirect in redirects
          tr
            td.col-sm-2(style="overflow: hidden; text-overflow: ellipsis; word-break: keep-all; vertical-align: middle;")
              a(href=("/"+redirect.key))=redirect.key
            td.col-sm-7(style="overflow: hidden; text-overflow: ellipsis; word-break: keep-all; vertical-align: middle;")
              a(href=redirect.url)= redirect.url
            td.col-sm-1(style="vertical-align: middle")= redirect.clicks
            form(action="/admin/redirect/delete", method="POST")
              td.col-sm-2(colspan=2, style="vertical-align: middle")
                input(type="hidden", name="_csrf", value=token)
                input(type="hidden", name="key", value=redirect.key)
                button.btn.btn-default.btn-block.remove-button Remove
        tr
          form(action="/admin/redirect/create", method="POST")
            input(type="hidden", name="_csrf", value=token)
            td.col-sm-2(style="vertical-align: middle")
              input.form-control(name="key", placeholder="Redirect Name")
            td.col-sm-7(style="vertical-align: middle")
              input.form-control(name="url", placeholder="https://")
            td.col-sm-1(style="vertical-align: middle") N/A
            td.col-sm-2(colspan=2, style="vertical-align: middle")
              button.btn.btn-danger.btn-block(style="background-color: #cb7512") Create / Update
      a.btn.btn-default.btn-block(href="/admin/logout") Log out
